@charset "UTF-8";



body, html {
    height: 100%;
    margin: 0px;
    font-size: 16px;
    font-family: "lato";
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

h2 {
    display: block;
    font-size: 1.8em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

}

.pimg1 {
    background-image: url(./imagens/image1.jpg);
    min-height: 100vh;
}

.pimg2 {
    background-image: url(./imagens/image2.jpg);
    min-height: 400px;
}

.pimg3 {
    background-image: url(./imagens/image3.jpg);
    min-height: 400px;
}

.ptext .border.trans {
    background-color: transparent;

}

.border trans {

}


.ptext .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(5, 3, 3);
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

.pimg1, .pimg2, .pimg3 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform:uppercase ;
}

div {
    display: block;
}

section {
    display: block;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}



